form { 
    margin: 0 auto; 
    width:250px;
    }

    input{
        width:100%
    }




    #owner_form{
        margin: 2em;
    }

    

    #listings{
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        padding: 10px;
    }

    .card {
        /* background-color: #eeeeee; */
        margin-top: 20px;
        height: 300px;
        width: 200px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 10px;
        
      }
    