form { 
    margin: 0 auto; 
    width:250px;
    }

    input{
        width:100%
    }




    #owner_form{
        margin: 2em;
    }

    /* #container{
        display: flex;
        justify-content: center;
        align-items: flex-start;

    } */

    main{
        border-top: 1px solid black;
        width: 100%;
    }

    div.card {
        background-color: #eeeeee;
        height: 250px;
        width: 300px;
        box-shadow: 10px 10px grey;
        padding: 10px;
        border-radius: 10px;
      }
    