form { 
    margin: 0 auto; 
    width:250px;
    }

    input{
        width:100%
    }




    #owner_form{
        margin: 2em;
    }

    #container{
        display: flex;
        justify-content: center;
        align-items: flex-start;

    }

    main{
        border-top: 1px solid black;
        width: 100%;
    }
    